* {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #463434;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10px;
}

.recipe {
    position: relative;
    flex: auto;
    flex-basis: auto;
    position: relative;
    margin-bottom: 5%;
}

.image {
    width: 350px;
    height: 350px;
    border: 3px solid #555;
    box-shadow: 10px 10px #805f5f;
}

.name {
    position: absolute;
    left: 20px;
    top: 17px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}